button {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 6px 36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.red {
    background-color: $red;
    color: $white;
  }
  &.green {
    background-color: $green;
    color: $white;
  }
  &.blue {
    background-color: $blue;
    color: $white;
  }
  &.white {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
  }
  &.black-gray {
    background-color: $gray-900;
    color: $white;
  }
  &.light-gray {
    background-color: $gray-600;
    color: $white;
  }
  img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}
