.tag {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  padding: 4px 24px;
  border-radius: 36px;
  width: max-content;
  background-color: $gray-400;
}
